body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.cats {
  color:red;
} 

.dogs {
  color:blue;
}

.pets {
  background-color:aliceblue;
  padding:10%;
}

.boxes {
  text-align: left;
}

td {
padding-left: 3em;
padding-right: ;
}
button {
  margin-bottom:10%;
}

.table {
  padding-top:5%;
}