body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    padding: 1em;
  }
  
  h1 {
    font-size: 3em;
    margin: 0em 0;
    font-family:'Inter', sans-serif;
    color:#0f0f0f;
  }
  
  h3 {
    font-size: 1.3em;
    margin: 0.25em 0;
    text-align:left;
    color: darkred;
    font-family:'Gotu', sans-serif;
  }
  
  p {
    font-size: 1em;
    text-align:left;
    color:#0f0f0f;

  }
  
  #hover-content {
    position:absolute;
    height: auto;
    width: auto;
    pointer-events: none;

  }
  

  #title {
    text-align: center;
    padding-top: 5%;
    padding-bottom:5%  
  }

  #sectionTitle {
    text-align: center;
    padding-top: 10%;
    /* padding-bottom:5%   */
  }


  ul {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fafafa;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #0f0f0f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #0f0f0f;
  }

  a {
    color: red;
    transition: all 0.2s linear;
    }
    a:hover, a:focus {
    color: red;
    }

path:hover{
  fill:black;
}

*{
  scroll-behavior: smooth !important;
  }